<div class="content">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-4">
                <div class="feed-box text-center">
                    <section class="card">
                        <div class="card-body">
                            <div class="corner-ribon blue-ribon">
                                <i class="fa fa-twitter"></i>
                            </div>
                            <a href="#">
                                <img class="align-self-center rounded-circle mr-3" style="width:85px; height:85px;" alt="" src="assets/images/Kendrick.jpg">
                            </a>
                            <h2>Kendrick Barnes</h2>
                            <p>Software Engineer</p>
                            <p>To use the application is simple.</p>
                              <ul>
                              <li>Click the Work Box link</li>
                              <li>Select Todo</li>
                              <li>You can add a new todo</li>
                              <li>Clicking on a todo crosses out and updates the todo</li>
                              <li>To delete a todo click the "X"</li>
                              <li>Enjoy!</li>
                              </ul>

                            
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
